+++
title = "ESA RestClient"
linkTitle = "ESA RestClient"

+++

{{< blocks/cover title="Welcome to ESA RestClient!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs/Getting Started" >}}">
		Get Started <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">An asynchronous event-driven HTTP client based on netty!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
ESA RestClient is an asynchronous event-driven http client based on netty. Help users quickly build high-performance, easy-to-use, simple rest client.
{{% /blocks/lead %}}

{{< blocks/section color="white">}}

{{% blocks/feature icon="fa-solid fa-rocket" title="High Performance" %}}
**11000** RPS(4c8g)

{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-code" title="Reactive Programing"%}}
Fluent interface based on `CompletionStage`
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-cubes" title="Rich Features" %}}
Http1/H2c/Https, Interceptor, Codec, retry, redirect, large file...
{{% /blocks/feature %}}


{{< /blocks/section >}}



